<img src="/Media/Got_Talent_logo.jpg" />



<div class="card">
    <video class="main-video" controls="controls" [src]="video1" type="video/mp4"></video>
    <div class="card-body">
        <h5 class="card-title">Awesome Video By User</h5>
        <p class="card-text">Video Description</p>
        <a href="#" class="btn btn-primary">Like</a>
    </div>
</div>



<div class="card">
    <video class="main-video" controls="controls" [src]="video1" type="video/mp4"></video>
    <div class="card-body">
        <h5 class="card-title">Awesome Video By User</h5>
        <p class="card-text">Video Description</p>
        <a href="#" class="btn btn-primary">Like</a>
    </div>
</div>




<div class="card">
    <video class="main-video" controls="controls" [src]="video1" type="video/mp4"></video>
    <div class="card-body">
        <h5 class="card-title">Awesome Video By User</h5>
        <p class="card-text">Video Description</p>
        <a href="#" class="btn btn-primary">Like</a>
    </div>
</div>



<div class="card">
    <video class="main-video" controls="controls" [src]="video1" type="video/mp4"></video>
    <div class="card-body">
        <h5 class="card-title">Awesome Video By User</h5>
        <p class="card-text">Video Description</p>
        <a href="#" class="btn btn-primary">Like</a>
    </div>
</div>