.main-video {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.card{
    margin-top:10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
