<div class="mt-5">
    <div class="jumbotron">
        <div margin-bottom:10px>
            <h3>Enter your Details below</h3>
        </div>
        <form ngNativeValidate (ngSubmit)="signIn()">

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" [(ngModel)]="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" [(ngModel)]="password" class="form-control" id="password" name="password" placeholder="Password" required>
            </div>
            <button type="button" (click)="getSecret()"  class="btn btn-primary">cancel</button>
            <button type="button" (click)="signOut()" class="btn btn-primary">Log Out</button>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    </div>
