<form>
    <div class="form-group">
        <label for="exampleInputEmail1">We Only Support HTML Video As of Now</label>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Select you File</label>
        <input type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Select File">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Title </label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Title For your Video">
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="A Little Description About your Video"> </textarea>
    </div>

    <button type="submit" class="btn btn-primary">Upload</button>
</form>