<div class="mt-5">
    <div class="jumbotron">
        <form ngNativeValidate (ngSubmit)="upload(selectedFile.files[0])">
            <div class="form-group">
                <label for="exampleInputEmail1">We Only Support MP4 format Video As of Now</label>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Select you File</label>
                <input type="file" #selectedFile name="selectedFile" class="form-control" required id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Select File"  accept="video/mp4,video/mov,video/*">
            </div>

            <div class="form-group">
                <label for="title">Title </label>
                <input type="text"  [(ngModel)]="title" name="title" class="form-control" required id="name" placeholder="Title For your Video">
            </div>

            <div class="form-group">
                <label for="category">Category</label>
                <select [(ngModel)]="category" name="category" required>
                    <option selected value="">Select One category</option>
                    <option *ngFor="let cat of categories" [ngValue]="cat">{{cat}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea  [(ngModel)]="description" name="description" class="form-control" id="description" rows="3" placeholder="A Little Description About your Video"> </textarea>
            </div>

            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
    </div>
