<div class="mt-5">
    <div class="jumbotron">
        <div margin-bottom:10px>
            <h3>Hey you Wanna SignUp.Enter your Details below</h3>
        </div>
        <form>

            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" required>
            </div>

            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name">
            </div>


            <div class="form-group">
                <label for="email">UserName/Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                <small id="emailHelp" class="form-text text-muted">This will be your userId.</small>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" required>
            </div>



            <div class="input-group">
                <label for="gender">Gender</label>
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="radio" name="gender" value="male" checked> Male<br>
                        <input type="radio" name="gender" value="female"> Female<br>
                        <input type="radio" name="gender" value="other"> Other
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="district">District</label>
                <input type="text" class="form-control" id="district" placeholder="Your District">
            </div>

            <div class="form-group">
                <label for="town">Town</label>
                <input type="text" class="form-control" id="town" placeholder="Your Town">
            </div>


            <div class="form-group">
                <label for="captha">Enter text 'Captha' in below text box</label>
                <input type="text" class="form-control" id="captha" placeholder="Captha" required>
            </div>

            <button type="submit" class="btn btn-primary">Sign Me Up</button>
        </form>
        <div margin-top:10px>
            <label>We dont share your user info and this is a talent platform and all videos you upload are public.</label>
        </div>
    </div>
    </div>
