<div class="mt-5">
    <div class="jumbotron">
        <div margin-bottom:10px>
            <h3>Hey you Wanna SignUp ? .Enter your Details below</h3>
        </div>
        <form ngNativeValidate (ngSubmit)="register()">

            <img *ngIf="encodedSource" [src]='encodedSource'>
            <button type="button" class="btn btn-primary"
                    (click)="openDialog()">
                <span class='glyphicon glyphicon-bullhorn'></span> Pick An Image
            </button>

            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" [(ngModel)]="firstName" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name" required>
            </div>

            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" [(ngModel)]="lastName" class="form-control" id="lastName" name="lastName" placeholder="Enter Last Name">
            </div>


            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" [(ngModel)]="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                <small id="emailHelp" class="form-text text-muted">This will be your userId.</small>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" [(ngModel)]="password" pattern=".{4,}" title="Minimum 4 characters required." class="form-control" id="password" name="password" placeholder="Password" required>
            </div>



            <div class="form-group">
                <label for="gender">Gender</label>
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="radio" name="gender" value="male" required [(ngModel)]="gender"> Male
                        <input type="radio" name="gender" value="female" [(ngModel)]="gender" checked> Female
                        <input type="radio" name="gender" value="other" [(ngModel)]="gender"> Other
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="district">District</label>
                <select [(ngModel)]="selectedDistrict" name="selectedDistrict" required>
                    <option value="" selected>Select A District</option>
                    <option *ngFor="let district of districts" [ngValue]="district">{{district}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="town">Town</label>
                <input type="text" [(ngModel)]="town" class="form-control" id="town" name="town" placeholder="Your Town" required>
            </div>



            <div class="form-group">
                <label for="captha">Enter text 'Captha' in below text box</label>
                <input type="text" class="form-control" id="captha" placeholder="Captha" [(ngModel)]="capthaAnswer" name="capthaAnswer" required>
            </div>

            <button type="submit" class="btn btn-primary">Sign Me Up</button>


        </form>

        <div class='pm-button'><a href='https://www.payumoney.com/sandbox/paybypayumoney/#/11749E9A01BB97AFBC2EA01611046F43'><img src='https://www.payumoney.com/media/images/payby_payumoney/new_buttons/22.png' /></a></div>
    </div>
</div>
